body {
    background-color: rgb(79, 47, 47);
}

.containerbox-large {
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    margin: 10px auto;
    margin-left: 4%;
    text-align: left;
    box-shadow: 2px 2px 2px rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.containerbox-small {
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
    padding: 1rem;
    width: 30%;
    margin: 10px auto;
    margin-left: 4%;
    text-align: left;
    box-shadow: 2px 2px 2px rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

h2 {
    padding-left: 1.5rem;
    font-size: 2.5rem;
}

a {
    color: black;
    font-size: 1.25rem;
}

h1, p1, ul {
    transition: transform 0.3s ease;

}


h1:hover, ul:hover {
    transform: translateY(-1.5px);
}


p1:hover {
    transform: translateY(-1.5px);
    text-decoration: black underline;
}

input {
    font-size: 1.5rem;
}


@media (min-width: 1024px) {

    .grid-bar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 70%;
    }

    .grid-grid {
        display: grid;
        align-items: left;
    }

    .flex-boxes {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 2%;
        justify-content: left;
        gap: 1.5rem;
        overflow-x: auto; /* Add horizontal scrolling */
    }

    .flex-box {
        flex-grow: 1; /* Allow the child elements to grow and fill the space */
        flex-basis: 0; /* Base size of the flex items before they start to grow */
        margin-right: 2%; /* Adjust as needed */
    }
    

    /*.containerbox-large {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        padding: 1rem;
        width: auto;
        margin: 10px auto;
        margin-left: 1rem;
        text-align: center;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
    }*/

    .containerbox-small-first {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        width: auto;
        margin: 10px auto;
        text-align: center;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .containerbox-small {
        
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        width: auto;
        margin: 10px auto;
        margin-top: 1.5rem;
        text-align: center;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .grid-container-factions,
    .grid-container-regions,
    .grid-container-races,
    .grid-container-classes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }

    .grid-item-factions,
    .grid-item-regions,
    .grid-item-races,
    .grid-item-classes {
        margin-right: 3rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .grid-item-boxes {
        font-size: 2rem;
    }


    .grid-container-factions>div,
    .grid-container-regions>div,
    .grid-container-races>div,
    .grid-container-classes>div {
        padding: 0.5rem;
        padding-left: 4rem;
    }
}

@media (max-width: 1023px) {

    .containerbox-large {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        padding: 1rem;
        width: auto;
        margin: 10px auto;
        text-align: left;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
    }

    .containerbox-small-first {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        padding: 1rem;
        width: auto;
        margin: 10px auto;
        text-align: left;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    .containerbox-small {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
        padding: 1rem;
        width: auto;
        margin: 10px auto;
        text-align: left;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }


    .grid-container-factions,
    .grid-container-regions,
    .grid-container-races,
    .grid-container-classes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }

    .grid-container-factions>div,
    .grid-container-regions>div,
    .grid-container-races>div,
    .grid-container-classes>div {
        padding: 0.5rem;
        margin-left: 0.5rem;
    }
}